.About {
  width: 100vw;
  height: 100vh;
  position: relative;
  overflow: hidden;

  @keyframes float {
    0% {
      transform: translateY(-10px);
    }
    50% {
      transform: translateY(15px) translateX(15px);
    }
    100% {
      transform: translateY(-10px);
    }
  }

  .spaceman {
    position: absolute;
    top: 10%;
    right: 5%;
    width: 20vw;
    animation: float 4s ease infinite;

    img {
      width: 100%;
      height: auto;
    }
  }

  .AboutMe {
    padding: 2rem;
    width: 50vw;
    height: 60vh;
    z-index: 3;
    line-height: 1.5;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: calc(0.5rem + 1vw);
    backdrop-filter: blur(4px);
    position: absolute;
    left: calc(5rem + 5vw);
    top: 10rem;
    font-family: 'Ubuntu Mono', monospace;
    font-style: italic;
  }
}

// AboutParticle
.AboutParticle {
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: 0;
}
