.mainContainer {
  background-image: url(../../assets/Images/patrick-tomasso-Oaqk7qqNh_c-unsplash.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;

  .container {
    width: 100%;
    height: auto;
    position: relative;
    padding-bottom: 5rem;

    .center {
      display: flex;
      justify-content: center;
      align-items: center;
      padding-top: 10rem;

      .grid {
        display: grid;
        grid-template-columns: repeat(2, minmax(calc(10rem + 15vw), 1fr));
        grid-gap: calc(1rem + 2vw);
      }
    }
  }
}

// Blogs

.Blogs {
  .box {
    width: calc(10rem + 15vw);
    text-decoration: none;
    height: 20rem;
    padding: 1rem;
    backdrop-filter: blur(2px);
    box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.2);
    cursor: pointer;
    display: flex;
    flex-direction: column;
    z-index: 5;

    &:hover {
      transition: all 0.3s ease;
    }

    .image {
      width: 100%;
      height: 60%;
      background-size: cover;
      border: 1px solid transparent;
      background-position: center center;
    }

    .title {
      color: inherit;
      padding: 0.5rem 0;
      padding-top: 1rem;
      font-family: 'Karla', sans-serif;
      font-weight: 700;
    }

    .HashTags {
      padding: 0.5rem 0;

      span {
        padding-right: 0.5rem;
      }
    }

    .date {
      padding: 0.5rem 0;
    }
  }
}

@media screen and (max-width: 767px) {
  .mainContainer {
    .container {
      .Anchor {
        display: none;
      }

      .center {
        padding-top: 7rem;

        .grid {
          grid-template-columns: 100%;
        }
      }
    }
  }

  .Blogs {
    .box {
      height: 14rem;
      padding: 0.8rem;
      backdrop-filter: none;

      .image {
        height: 70%;
      }

      .title {
        font-size: calc(0.6em + 1vw);
      }

      .HashTags {
        font-size: calc(0.5em + 1vw);
      }

      .date {
        font-size: calc(0.5em + 1vw);
      }
    }
  }
}
