.MainContainer {
  //width: 100vh;
  height: 100vh;
  overflow: hidden;
  position: relative;

  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: 'Karla', sans-serif;
    font-weight: 500;
  }

  .container {
    padding: 2rem;

    .contact {
      @include MainNav;
      top: 2rem;
      right: calc(1rem + 2vw);
    }

    .blog {
      @include MainNav;
      top: 50%;
      right: calc(1rem + 2vw);
      transform: rotate(90deg) translate(-50%, -50%);
    }

    .work {
      @include MainNav;
      top: 50%;
      left: calc(1rem + 2vw);
      transform: translate(-50%, -50%) rotate(-90deg);
    }

    .bottomBar {
      position: absolute;
      bottom: 1rem;
      left: 0;
      right: 0;
      width: 90%;
      display: flex;
      justify-content: space-between;
      margin: 0 auto;

      .about,
      .skills {
        color: #000;
        text-decoration: none;
        z-index: 1;
      }
    }
  }
}

// PowerButton
.power {
  position: fixed;
  top: 2rem;
  left: 50%;
  transform: translate(-50%, 0);
  background-color: #fcf6f4;
  padding: 0.3rem;
  border-radius: 50%;
  border: 1px solid #000;
  width: 2.5rem;
  height: 2.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 3;
  cursor: pointer;

  &:hover {
    background-color: rgba(0, 255, 0, 0.4);
    box-shadow: 0 0 8px 6px rgba(0, 255, 0, 0.2);
  }

  & > *:first-child {
    text-decoration: none;
    color: inherit;
  }
}

// LogoComponent
.logo {
  position: fixed;
  color: #000;
  left: 2rem;
  top: 2rem;
  z-index: 3;

  h1 {
    display: inline-block;
    font-family: 'pacifico', cursive;
  }
}

//socialIcon
.socialIcon {
  display: flex;
  flex-direction: column;
  align-items: center;

  position: fixed;
  bottom: 0;
  left: 2rem;
  z-index: 3;

  & > *:not(:last-child) {
    margin: 0.5rem 0;
  }
}

.line {
  width: 2px;
  height: 8rem;
  background-color: #000;
}
